# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# Flask instance folder
instance/

# VSCode settings
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Logs and databases
*.log
*.sqlite3

# System files
Thumbs.db
ehthumbs.db
desktop.ini

# Environment files
.env
.env.*

# ZIP or backup
*.zip
*.bak
*.tar.gz
